SQLITE_PATH=scriptables.db

SCRIPTABLES_SERVER_DSN_HOST=127.0.0.1
SCRIPTABLES_SERVER_DSN_PORT=1323
SCRIPTABLE_URL=http://127.0.0.1:1323
ALLOWED_IPS=

ENCRYPTION_KEY=CHANGE-ME-16-24-OR-32-CHARS-LONG
SESSION_SECRET=change-me-to-a-long-random-value

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=586
SMTP_USERNAME=xxxx
SMTP_PASSWORD=xxxx
SMTP_FROM_EMAIL=Scriptables <noreply@test.com>

TZ=Africa/Johannesburg
VERBOSE_LOG=yes
GIN_MODE=release
