
<div class="row">
  <div class="col-md-12  mb-2">
<h2 class="az-dashboard-title">Pick server template</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" data-bs-dismiss="alert" aria-label="Close">
                        ×
                    </button>
                    <p><strong>Note:</strong> We currently only support Ubuntu 20.04 and 22.04, support for Debian and Ubuntu 23.04 comming soon.</p>
             </div>

  </div>

    
        {% for s in serverTypes %}

  <div class="col-sm-6 mb-3" style="height:250px">
    <div class="card rounded shadow">
      <div class="card-body">
        <div class="row">
        <div class="col-md-12">        <h5 class="card-title">{{s.Name}}</h5>
</div>
          <div class="col-md-8">
          <p class="card-text"> 
          {{s.Description}}
          </p>
          </div>
          <div class="col-md-4" style="text-align:right">
              <img src="/static/icons/{{s.Slug}}.svg" style="max-width:100px" />
          </div>
        </div>
        </div>

      <div class="card-footer" style="text-align:right">
        
        <a href="/server/create/{{s.Slug}}" class="btn btn-primary">Build >></a>
       </div>
    </div>
  </div>



      {% endfor %}

  </div>