<div class="row">
  <div class="col-md-12" style="text-align:center">

        <h4>Testing connection to: {{serverName}} - {{serverIP}}</h4>

            <img src="/static/img/testing-connection.gif" alt="Testing..." />
  
        </div>

  </div>
</div>

<script>

  fetch("/server/test-ssh-ajax/{{id}}")
    .then(json => json.json())
    .then(json => {
      if(json.status == "failed") {
         Swal.fire({
          title: 'Oops! Something went wrong',
          text: json.message,
          icon: 'error',
          confirmButtonText: 'OK'
        }).then(e => {
          window.location.href = "/server/update/{{id}}";
        })
      } else {
         Swal.fire({
          title: 'Success!',
          text: json.message,
          icon: 'success',
          confirmButtonText: 'OK'
        }).then(e => {
          window.location.href = "/logs/server/{{id}}";
        })
      }
    }).error(err => {
      Swal.fire({
          title: 'Error!',
          text: 'Connection failed - please check your server configuration such as SSH keys and the server IP address.',
          icon: 'error',
          confirmButtonText: 'OK'
        })
    });
</script>