<div class="row">
  <div class="col-md-12" style="text-align:center">
        <h4 class="alert-heading">{{title}}</h4>

        <p>
            Please see below a short video tour of Scriptables. If you need any further information or help - please feel free to contact us on:
            <a href="mailto:support@plexscriptables.com">support@plexscriptables.com</a><br />
        </p>
       <div id="video-container">
        <img src="/static/img/loader.gif" alt="Loading..." id="loading-gif">
        <video width="100%" controls id="video-player">
            <source src="/static/guide.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

  </div>

</div>

    <script>
        const videoPlayer = document.getElementById("video-player");
        const loadingGif = document.getElementById("loading-gif");

        videoPlayer.addEventListener("loadeddata", () => {
            loadingGif.style.display = "none";
        });

        videoPlayer.addEventListener("error", () => {
            loadingGif.style.display = "none";
        });
    </script>
