<div class="row">
  <div class="col-md-12" style="text-align:center">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Sorry! - your trial has expired.</h4>

            <i class="fa fa-exclamation-triangle" style="font-size:30px"></i>
            <br />
            <p>Thank you for trying out Scriptables. We really appreciate your interest and hope that this product was useful to you. 
            Unfortunately - your trial as expired. To purchase Scriptables including the full source code - please visit: <a href="https://plexscriptables.com">https://plexscriptables.com</a></p>

        </div>

  </div>
</div>
