  <style>
      .cron-editor {
          border: 1px solid #ccc;
          padding: 10px;
      }

      .cron-bold {
          font-weight: bold;
          margin-bottom: 1.3rem;
      }

      .form-group {
          display: flex;
          align-items: center;
      }

      .form-group label {
          margin-right: 10px;
      }
  </style>

  <div class="row">
     <div class="col-md-12 mb-2">
<h2 class="az-dashboard-title">Add Cron job</h2>
  </div>

      <div class="col-md-12">
          <div class="card card-info">

              <form class="form-horizontal" method="post" action="{{action}}">
                  <div class="card-body">

                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Server*</label
                      >
                      <div class="col-sm-10">
                          <select class="form-control" required name="server_id">
                              {% for server in servers %}
                                  <option value="{{server.ID}}" {% if server._id == server_id %} selected {% endif %}>{{server.ServerName}}</option>
                              {% endfor %}
                          </select>
                      </div>
                    </div>
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Cron Name*</label>
                          <div class="col-sm-10">
                              <input class="form-control" required name="cron_name" value="{{ cron_name }}" />
                          </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Cron user*</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" required name="user"
                                  value="{{ user }}" placeholder="The linux user to execute the cron as" />
                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Cron command*</label>
                          <div class="col-sm-10">
                              <input type="text" required class="form-control" name="task"
                                  value="{{ task }}"
                                  placeholder="The job to run e.g. php /var/www/mysite/artisan cache:clear" />
                          </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Cron Expression*</label>
                          <div class="col-sm-10">

                              <div class="cron-editor">
                                <div class="row">
                                  <pre>
    .---------------- minute (0 - 59)
    |  .------------- hour (0 - 23)
    |  |  .---------- day of month (1 - 31)
    |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
    |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon ...
    |  |  |  |  |
    *  *  *  *  *
                                    </pre>
                                </div>
                                  <div class="form-group">
                                      <div class="col-md-2">
                                          <label for="minute">Minute:</label>
                                      </div>
                                      <div class="col-md-10">
                                          <input type="text" id="minute" value="*"
                                              class="form-control timeinput" placeholder="*">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-2">
                                          <label for="hour">Hour:</label>
                                      </div>
                                      <div class="col-md-10">
                                          <input type="text" id="hour" value="*"
                                              class="form-control timeinput" placeholder="*">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-2">
                                          <label for="day">Day of Month:</label>
                                      </div>
                                      <div class="col-md-10">
                                          <input type="text" id="day" value="*"
                                              class="form-control timeinput" placeholder="*">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-2">
                                          <label for="month">Month:</label>
                                      </div>
                                      <div class="col-md-10">
                                          <input type="text" id="month" value="*"
                                              class="form-control timeinput" placeholder="*">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-2">
                                          <label for="dayOfWeek">Day of Week:</label>
                                      </div>
                                      <div class="col-md-10">
                                          <input type="text" id="dayOfWeek" value="*"
                                              class="form-control timeinput" placeholder="*">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <i>Note: you can also manually enter the cron below and use constants such as
                                              @hourly, @weekly etc...</i>

                                          <input type="text" name="cron_expression" class="form-control cron-bold" id="cron-expression"
                                              placeholder="*****" />
                                      </div>
                                      <div class="col-md-12">
                                          <input type="text" readonly class="form-control cron-bold"
                                              id="human-readable" style="color:orange" value="Every minute"
                                              placeholder="Every minute" />
                                      </div>

                                  </div>
                              </div>
                              
                          </div>
        
                      </div>
     
                  </div>

                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary">SAVE</button>

                  </div>
              </form>
          </div>
      </div>
  </div>
  <script src="/static/js/cronstrue/cronstrue.min.js"></script>


  <script>
      function updateCronExpression() {
          const minute = document.getElementById('minute').value.trim();
          const hour = document.getElementById('hour').value.trim();
          const day = document.getElementById('day').value.trim();
          const month = document.getElementById('month').value.trim();
          const dayOfWeek = document.getElementById('dayOfWeek').value.trim();
          const cronExpression = `${minute} ${hour} ${day} ${month} ${dayOfWeek}`;
          document.getElementById('cron-expression').value = cronExpression;


          humanReadableControl = document.getElementById('human-readable');
          try {
              const humanReadable = cronstrue.toString(cronExpression, {
                  throwExceptionOnParseError: true,
                  verbose: true
              });
              humanReadableControl.style.border = "1px solid green";

              humanReadableControl.value = humanReadable;
          } catch (error) {
              humanReadableControl.value = "Invalid expression: " + cronExpression;
              humanReadableControl.style.border = "1px solid red";
          }

      }

      function handleCronExpressionInput() {
          const cronExpressionInput = document.getElementById('cron-expression').value.trim();

          if (cronExpressionInput.startsWith('@')) {
              handleCronConstant(cronExpressionInput);
              return;
          }

          populateFieldsFromCronExpression(cronExpressionInput);
          updateCronExpression();
      }

      function cronIsConstant(minute, hour, day, month, dayOfWeek) {
          return (minute.startsWith('@') || hour.startsWith('@') || day.startsWith('@') || month.startsWith('@') ||
              dayOfWeek.startsWith('@'));
      }

      function handleCronConstant(cronExpressionInput) {
          const cronConstants = {
              '@hourly': '0 * * * *',
              '@daily': '0 0 * * *',
              '@weekly': '0 0 * * 0',
              '@monthly': '0 0 1 * *'
          };

          const cronExpression = cronConstants[cronExpressionInput];
          if (cronExpression) {
              populateFieldsFromCronExpression(cronExpression);
              updateCronExpression();
          }
      }

      function populateFieldsFromCronExpression(cronExpression) {
          const fields = cronExpression.split(' ');
          document.getElementById('minute').value = fields[0];
          document.getElementById('hour').value = fields[1];
          document.getElementById('day').value = fields[2];
          document.getElementById('month').value = fields[3];
          document.getElementById('dayOfWeek').value = fields[4];
      }

      const inputFields = document.querySelectorAll('input.form-control.timeinput');
      inputFields.forEach((input) => {
          input.addEventListener('input', updateCronExpression);
      });

      document.getElementById('cron-expression').addEventListener('input', handleCronExpressionInput);

      populateFieldsFromCronExpression('{{cron_expression}}')
      updateCronExpression();
  </script>

