<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scriptables - Easy server management</title>

    <link rel="stylesheet" href="/static/bower_components/fontawesome/css/all.min.css" />

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/css/azia.css" />
    <link rel="stylesheet" href="/static/bower_components/sweetalert2/sweetalert2.min.css" />
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/sweetalert2/sweetalert2.all.min.js"></script>
    <style>
      .highlight-nav {
          color: #104ecf !important;
          font-weight: bold !important;
      }
  </style>

</head>

<body>

    <div class="az-header">
        <div class="container">
            <div class="az-header-left">
                <a href="/"><img src="/static/img/logo.png" /></a>
                <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
            </div><!-- az-header-left -->
            <div class="az-header-menu">
                <div class="az-header-menu-header">
                    <a href="/"><img src="/static/img/logo.png" /></a>
                    <a href="" class="close">&times;</a>
                </div><!-- az-header-menu-header -->
                <ul class="nav">

                    <li class="nav-item">
                        <a href="/servers" class="nav-link{%if highlight == "servers" %} highlight-nav{% endif%}"><i
                                class="fa fa-server"></i> &nbsp;Servers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sites" class="nav-link{%if highlight == "sites" %} highlight-nav{% endif%}"><i
                                class="fa fa-globe"></i> &nbsp;Sites</a>
                    </li>
                    <li class="nav-item">
                        <a href="/crons" class="nav-link{%if highlight == "crons" %} highlight-nav{% endif%}"><i
                                class="fa fa-robot"></i> &nbsp;Crons</a>
                    </li>

                    </li>
                    <li class="nav-item">
                        <a href="/sshkeys" class="nav-link{%if highlight == "sshkeys" %} highlight-nav{% endif%}"><i
                                class="fa fa-key"></i> &nbsp; Ssh keys</a>
                    </li>

                    <li class="nav-item">
                        <a href="/user/list" class="nav-link{%if highlight == "users" %} highlight-nav{% endif%}"><i
                                class="fa fa-users"></i> &nbsp; Users</a>
                    </li>
                               <li class="nav-item">
                        <a href="/guide" class="nav-link{%if highlight == "help" %} highlight-nav{% endif%}"><i
                                class="fa fa-question"></i> &nbsp; Help</a>
                    </li>
                              <li class="nav-item">
                        <a href="/users/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
                    </li>

                </ul>
            </div><!-- az-header-menu -->
            <div class="az-header-right">


                <div class="az-profile-menu">
                    <a href="/user/profile" class="az-img-user"><img src="/static/icons/profile.png" alt=""></a>

                </div>
                
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
    </div><!-- az-header -->

    <div class="az-content az-content-dashboard">
        <div class="container">
            <div class="az-content-body">
                {% if errors is defined %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" data-bs-dismiss="alert" aria-label="Close">
                        ×
                    </button>
                    <h5>
                        <i class="icon fas fa-ban"></i> Oops! - please review the
                        following errors and try again
                    </h5>
                    <ol>
                        {% for e in errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% endif %}
                {%if successMsg is defined %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close">
                        ×
                    </button>
                    <h5><i class="icon fas fa-check"></i> Success!</h5>
                    {{ successMsg }}
                </div>

                {% endif %}


                {{ view }}
            </div><!-- az-content-body -->
        </div>
    </div><!-- az-content -->


    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bower_components/fontawesome/js/all.min.js"> </script>

    <script>
        $(function() {
            'use strict'

            // This template is mobile first so active menu in navbar
            // has submenu displayed by default but not in desktop
            // so the code below will hide the active menu if it's in desktop
            if (window.matchMedia('(min-width: 992px)').matches) {
                $('.az-navbar .active').removeClass('show');
                $('.az-header-menu .active').removeClass('show');
            }

            // Shows header dropdown while hiding others
            $('.az-header .dropdown > a').on('click', function(e) {
                e.preventDefault();
                $(this).parent().toggleClass('show');
                $(this).parent().siblings().removeClass('show');
            });

            // Showing submenu in navbar while hiding previous open submenu
            $('.az-navbar .with-sub').on('click', function(e) {
                e.preventDefault();
                $(this).parent().toggleClass('show');
                $(this).parent().siblings().removeClass('show');
            });

            // this will hide dropdown menu from open in mobile
            $('.dropdown-menu .az-header-arrow').on('click', function(e) {
                e.preventDefault();
                $(this).closest('.dropdown').removeClass('show');
            });

            // this will show navbar in left for mobile only
            $('#azNavShow, #azNavbarShow').on('click', function(e) {
                e.preventDefault();
                $('body').addClass('az-navbar-show');
            });

            // this will hide currently open content of page
            // only works for mobile
            $('#azContentLeftShow').on('click touch', function(e) {
                e.preventDefault();
                $('body').addClass('az-content-left-show');
            });

            // This will hide left content from showing up in mobile only
            $('#azContentLeftHide').on('click touch', function(e) {
                e.preventDefault();
                $('body').removeClass('az-content-left-show');
            });

            // this will hide content body from showing up in mobile only
            $('#azContentBodyHide').on('click touch', function(e) {
                e.preventDefault();
                $('body').removeClass('az-content-body-show');
            })

            // navbar backdrop for mobile only
            $('body').append('<div class="az-navbar-backdrop"></div>');
            $('.az-navbar-backdrop').on('click touchstart', function() {
                $('body').removeClass('az-navbar-show');
            });

            // Close dropdown menu of header menu
            $(document).on('click touchstart', function(e) {
                e.stopPropagation();

                // closing of dropdown menu in header when clicking outside of it
                var dropTarg = $(e.target).closest('.az-header .dropdown').length;
                if (!dropTarg) {
                    $('.az-header .dropdown').removeClass('show');
                }

                // closing nav sub menu of header when clicking outside of it
                if (window.matchMedia('(min-width: 992px)').matches) {

                    // Navbar
                    var navTarg = $(e.target).closest('.az-navbar .nav-item').length;
                    if (!navTarg) {
                        $('.az-navbar .show').removeClass('show');
                    }

                    // Header Menu
                    var menuTarg = $(e.target).closest('.az-header-menu .nav-item').length;
                    if (!menuTarg) {
                        $('.az-header-menu .show').removeClass('show');
                    }

                    if ($(e.target).hasClass('az-menu-sub-mega')) {
                        $('.az-header-menu .show').removeClass('show');
                    }

                } else {

                    //
                    if (!$(e.target).closest('#azMenuShow').length) {
                        var hm = $(e.target).closest('.az-header-menu').length;
                        if (!hm) {
                            $('body').removeClass('az-header-menu-show');
                        }
                    }
                }

            });

            $('#azMenuShow').on('click', function(e) {
                e.preventDefault();
                $('body').toggleClass('az-header-menu-show');
            })

            $('.az-header-menu .with-sub').on('click', function(e) {
                e.preventDefault();
                $(this).parent().toggleClass('show');
                $(this).parent().siblings().removeClass('show');
            })

            $('.az-header-menu-header .close').on('click', function(e) {
                e.preventDefault();
                $('body').removeClass('az-header-menu-show');
            })

        });
    </script>
</body>

</html>
