<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="_csrf_token" content="{{_csrf_token}}" />

    <title>{% if title %}{{ title }} &middot; {% endif %}Scriptables</title>

    <link rel="stylesheet" href="/static/tabler/css/tabler.min.css" />
    <link rel="stylesheet" href="/static/tabler/css/tabler-vendors.min.css" />
    <link rel="stylesheet" href="/static/tabler/css/tabler-icons.min.css" />

    <script>
        try {
            var theme = localStorage.getItem("scriptables-theme") || "light";
            document.documentElement.setAttribute("data-bs-theme", theme);
        } catch (e) { }
    </script>
</head>

<body>
    <div class="page">
        <header class="navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-menu" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a href="/" class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
                    <img src="/static/img/logo.png" alt="Scriptables" class="navbar-brand-image hide-theme-dark" height="28">
                    <img src="/static/img/logo-dark.png" alt="Scriptables" class="navbar-brand-image hide-theme-light" height="28">
                </a>

                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item d-none d-md-flex me-2">
                        <a href="#" class="nav-link px-2" id="theme-toggle" title="Toggle dark mode"
                            data-bs-toggle="tooltip">
                            <i class="ti ti-moon icon"></i>
                        </a>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown"
                            aria-label="Open user menu">
                            <span class="avatar avatar-sm"
                                style="background-image: url(/static/icons/profile.png)"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="/user/profile" class="dropdown-item">
                                <i class="ti ti-user me-2"></i>My profile
                            </a>
                            <a href="/settings" class="dropdown-item">
                                <i class="ti ti-settings me-2"></i>Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/users/logout" class="dropdown-item">
                                <i class="ti ti-logout me-2"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <header class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item{% if highlight == "applications" %} active{% endif %}">
                                <a class="nav-link" href="/applications">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-apps"></i>
                                    </span>
                                    <span class="nav-link-title">Applications</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "sites" %} active{% endif %}">
                                <a class="nav-link" href="/sites">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-world"></i>
                                    </span>
                                    <span class="nav-link-title">Sites</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "crons" %} active{% endif %}">
                                <a class="nav-link" href="/crons">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-robot"></i>
                                    </span>
                                    <span class="nav-link-title">Crons</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "docker" %} active{% endif %}">
                                <a class="nav-link" href="/docker">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-brand-docker"></i>
                                    </span>
                                    <span class="nav-link-title">Docker</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "firewall" %} active{% endif %}">
                                <a class="nav-link" href="/firewall">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-flame"></i>
                                    </span>
                                    <span class="nav-link-title">Firewall</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "security" %} active{% endif %}">
                                <a class="nav-link" href="/security">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-shield-lock"></i>
                                    </span>
                                    <span class="nav-link-title">Security</span>
                                </a>
                            </li>
                            <li class="nav-item{% if highlight == "users" %} active{% endif %}">
                                <a class="nav-link" href="/user/list">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="ti ti-users"></i>
                                    </span>
                                    <span class="nav-link-title">Users</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xl">
                    {% if errors is defined %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="d-flex">
                            <div class="me-3">
                                <i class="ti ti-ban icon alert-icon"></i>
                            </div>
                            <div>
                                <h4 class="alert-title">Oops! Please review the following and try again</h4>
                                <div class="text-secondary">
                                    <ul class="mb-0 ps-3">
                                        {% for e in errors %}
                                        <li>{{ e }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                    </div>
                    {% endif %}

                    {% if successMsg is defined %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div class="d-flex">
                            <div class="me-3">
                                <i class="ti ti-circle-check icon alert-icon"></i>
                            </div>
                            <div>
                                <h4 class="alert-title">Success!</h4>
                                <div class="text-secondary">{{ successMsg }}</div>
                            </div>
                        </div>
                        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                    </div>
                    {% endif %}

                    {{ view }}
                </div>
            </div>

            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center">
                        <div class="col-12">
                            <span class="text-secondary">
                                &copy; {{ current_year }} Scriptables. All rights reserved.
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Tabler bundles the Bootstrap behaviour we use: dropdowns, collapse,
         alert dismissal and tooltips. htmx drives everything dynamic. -->
    <script src="/static/tabler/js/tabler.min.js"></script>
    <script src="/static/htmx/htmx.min.js"></script>
    <script>
        (function () {
            var root = document.documentElement;
            var toggle = document.getElementById("theme-toggle");

            function paint() {
                var dark = root.getAttribute("data-bs-theme") === "dark";
                toggle.querySelector("i").className = dark ? "ti ti-sun icon" : "ti ti-moon icon";
            }

            paint();

            toggle.addEventListener("click", function (e) {
                e.preventDefault();
                var next = root.getAttribute("data-bs-theme") === "dark" ? "light" : "dark";
                root.setAttribute("data-bs-theme", next);
                try { localStorage.setItem("scriptables-theme", next); } catch (err) { }
                paint();
            });
        })();
    </script>
</body>

</html>
