
<form action="/users/password/forgot" method="post">
<div class="input-group mb-3">
    <input type="email" class="form-control" name="email" placeholder="Email">

</div>
<div class="row">
<div class="col-12">

<button type="submit" class="btn btn-primary btn-block">Send reset email</button>

</div>
</form>
