
<form action="/users/authenticate" method="post">
<div class="input-group mb-3">
<input type="email" class="form-control" name="email" placeholder="Email">
<div class="input-group-append">

</div>
</div>
<div class="input-group mb-3">
<input type="password" class="form-control" name="password" placeholder="Password">

</div>
<div class="row">
<div class="col-12">

<button type="submit" class="btn btn-primary btn-block">Sign In</button>

<br />
</div>

&nbsp;&nbsp;<a href="/users/password/forgot" class="">Forgot password?</a>
</form>
