<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body row">
        <div class="col-md-12">
            <form method="POST" action="/user/profile/update">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" id="name" name="name" value="{{user.Name}}" class="form-control" />
          </div>
          <div class="form-group">
            <label for="inputEmail">E-Mail</label>
            <input type="email" id="email" class="form-control" name="email" value="{{user.Email}}"/>
          </div>
          <div class="form-group">
            <input type="checkbox" name="two_factor" id="two_factor" {% if user.TwoFactor == 1 %} checked {% endif %} onclick="handleCheckboxChange()"/> <label>Enable 2Factor Auth</label>
            <div id="qrcode" style="display:none;">
                <img src="/static/img/ajax.gif" id="loading-icon"/>
                <br /> Please scan the above QR code with your Google authenticator app and hit "SAVE" below once done.
            </div>

          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="SAVE" />
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function handleCheckboxChange() {
  var checkbox = document.getElementById("two_factor");
  var qrcodeDiv = document.getElementById("qrcode");

  if (checkbox.checked) {
    qrcodeDiv.style.display = "block";
    document.getElementById("loading-icon").src = "/user/2factor/qrcode";

  } else {
    qrcodeDiv.style.display = "none";
  }

}
</script>