
<form action="/users/password/reset/{{token}}" method="post">
<div class="input-group mb-3">
<input type="email" class="form-control" name="email" placeholder="Email">

</div>
<div class="input-group mb-3">
    <input type="password" class="form-control" name="password" placeholder="Password">

    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" name="passwordAgain" placeholder="Password Again">

        </div>
<div class="row">
<div class="col-12">

<input type="hidden" name="_csrf_token" value="{{_csrf_token}}" />

<button type="submit" class="btn btn-primary btn-block">Change password</button>

</div>
</form>

