
<p>Please check your google authenticator app for an OTP code.</p>

<form action="/users/2fa/authenticate" method="post">
<div class="input-group mb-3">
<input type="text" class="form-control" name="two_factor_code" required placeholder="Please enter 2factor code">

</div>
<div class="input-group mb-3">
<input type="hidden" class="form-control" name="password" value="{{password}}">
<input type="hidden" class="form-control" name="email" value="{{email}}">

</div>
<div class="row">
<div class="col-12">

<button type="submit" class="btn btn-primary btn-block">Confirm OTP</button>

<br />
</div>

&nbsp;&nbsp;<a href="/users/login" class=""><< Restart login</a>
</form>
